<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>
            Reservierungsbuch
        </title>
        
        <style>
            body{
                background-color: #71b1c7;
            }
            .table-wrapper{
                margin-top: 100px;
            }
            h1{
                text-align: left;
            }

            th.ueberschrift{
                font-style: italic;
                font-size: larger;
                letter-spacing: 2px;
                text-decoration: underline;}
            td.first-row {
                font-size: large;
                letter-spacing: 2px;
                text-align: center;
                border: 1px solid black;
                border-collapse: collapse;}
            
            td.customer{
                text-align: center;
                
            }

        </style>

    </head>
    <body>
        <h1>
            City Braustüb'l
        </h1>
  
        <div class="table-wrapper">
        <table style="width:60%" class="tg">
            <tr>
                <th class="ueberschrift" colspan="6">Reservierungen</th>
            </tr>
            <tr>
                <td class="first-row" width="50">Zeit</td>
                <td class="first-row" width="160">Name</td>
                <td class="first-row">PAX</td>
                <td class="first-row">Tisch</td>
                <td class="first-row" width="160">Beschreibung</td>
            </tr>
            <tr>
                <td class="customer">18:00</td>
                <td class="customer">Thomas</td>
                <td class="customer">7</td>
                <td class="customer">12</td>
                <td class="customer">-</td>

            </tr>
            <tr>
                    <td class="customer">18:00</td>
                    <td class="customer">Thomas</td>
                    <td class="customer">7</td>
                    <td class="customer">12</td>
                    <td class="customer">-</td>
    
                </tr>
        </table>
    </div>
    </body>
</html>